/* @media only screen and (max-width: 900px) {
	.heading {
		align-self: center;
	}
} */
.projectsPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap:8vw; */
	padding: 9vh 0;
	padding-top: 10.88vh;
}

.heading {
	padding-left: 9.02%;
}

.heading_plusBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 5vw;
	width: 100%;
}

@media only screen and (max-width: 900px) {
	.heading {
		align-self: center;
		padding-left: 0;
	}
	.heading_plusBtn {
		flex-direction: column;
		align-items: center;
	}
}