.Page_Headings{
	display: flex;
	width:100%;
	padding-bottom: 8vh;
}
.Section_Headings {
	display: flex;
	flex-direction: column;
	gap: 0.2vh;
	align-items: left;
	padding-left: 9.02%;
	width:45vw;
}
.Section_Headings > p {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}
.Section_Headings .large_heading {
	width: max-content;
	font-weight: bold;
	font-size: 3.63vw;
	line-height: 4.79vw;
	color: #1b2733;
}
.Section_Headings .small_heading {
	width: max-content;
	font-weight: 600;
	font-size: 1.3vw;
	line-height: 1.53vw;
	color: #637282;
}
.Section_Headings .Heading_text {
	font-weight: 500;
	margin-top: 2.6vh;
	font-size: 1.11vw;
	line-height: 1.43vw;
	color: rgba(0, 0, 0,0.6);
}
.Page_Image{
	height: 16vw;
	flex:1;
	display: flex;
	justify-content:center;
}
.Page_Image > img{
	height: 100%;
	width: auto;
}
@media only screen and (max-width: 900px) {
	.Page_Headings{
		flex-direction: column;
		align-items: center;
		gap: 5vw;
	}
	.Section_Headings {
		width: 80%;
		padding-left: 0;
		gap: 0.4vh;
		align-items: left;
	}
	.Section_Headings .large_heading {
		font-size: 6.4vh;
		width: 100%;
		line-height: 120%;
	}
	.Section_Headings .small_heading {
		font-size: 3.1vh;
		width: 100%;
		line-height: 150%;
	}
	.Section_Headings .Heading_text {
		font-size: 2.4vh;
		line-height: 130%;
		text-align: left;
		
	}
	.Page_Image{
		height: 5vw;
		width: 70%;
	}
	.Page_Image > img{
		height: auto;
		width: 100%;
	}
}
@media only screen and (max-width: 450px) {
	.Section_Headings .large_heading {
		font-size: 26px;
	}
	.Section_Headings .small_heading {
		font-size: 16px;
		line-height:130%;
	}
	.Section_Headings .Heading_text {
		font-size: 12px;
	}
	.Page_Image{
		height: 5vw;
		width: 60%;
	}
}
