.Team_section{
    padding-top: 10.88vh;
    padding-bottom: 12vh;
    background: #fafafa;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:6.22vh;
    background: #ffffff;
}

.Member-field{
    width: 81.96%;
    margin:0 auto;
    background:#F5F5F5;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.Field-select{
    margin:0;
    padding:0;
    list-style:none;
    display: flex;
    justify-content: space-between;
}
.Field-item{
    width:max-content;
    text-decoration: none;
    padding: 3vh 6vh;
}
.field-link{
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    width:max-content;
    color:#637282;
    font-weight: 600;
    font-size: 1.1vw;
    line-height:110%;
}
.field-selected{
    background:#156EFF;
    border-radius: 4px;
    filter: drop-shadow(1px 0px 4px rgba(0, 0, 0, 0.15));
}
.field-selected > .field-link{
    color:#ffffff;
}

.Member_cards_container{
    width: 81.96%;
    margin:0 auto;
}


.Field_view{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 4vw;
    flex-wrap: wrap;
}
.Field_view > *{
    flex:none;
}
.Past-Member > h3{
    margin-top: 20px;
  font-weight: 700;
  margin-left: 2rem;
}

@media only screen and (max-width: 900px) {
    .Team_section{
        align-items: center;
    }
    .Member-field{
        width: 96%;
    }
    .Field-item{
        padding: 1.8vw 2vw;
    }
    .field-link{
        font-size: 14px;
        text-align: center;
    }
    .Member_cards_container{
        width: 94%;
    }
    .Field_view{
        gap: 4vw;
        justify-content: center;
    }
}
@media only screen and (max-width: 450px) {
    .Member-field{
        width: 80%;
    }
    .Field-select{
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh;
    }
    .Field-item{
        padding: 2.4vw 3vw;
    }
    .Field_view{
        gap: 6vh;
    }
    .Past-Member > h3{
      margin: 4rem;
      font-size: 25px;
    }
}