.container {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5%;
	background:#FAFAFA;
}

.img {
	/* padding-right: 3%; */
	height: 200px;
	/* width */
}
.imgContainer {
	z-index: 1;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}
.text {
	width: 20vw;
	min-width: 250px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}
.buttonsAdmin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.btn {
	width: 100%;
}
.RSVPbtn {
	width: 100%;
}
.eventCard {
	margin: 5vh 0;
	border-radius: 20px !important ;
	padding: 0;
	max-width: 300px;
	/* border: 1px solid transparent; */
	transition: 0.75s;
}
.eventCard:hover {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
	/* border: solid grey 1px; */
	/* transition: 1s; */
}
.svg {
	/* padding-right: 5px; */
	margin-right: 5px;
}
.RSVPsvg {
	padding-right: 5px;
	margin-right: 5px;
}
.content {
	/* border: solid grey 1px; */
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px -2px 4px;
	/* margin-top: -15px; */
	position: relative;
	z-index: 5;
	background-color: white;
	transform: translate(0px, -10px);
}
