.container {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.5%;
}

.img {
	/* padding-right: 3%; */
	height: 200px;
	/* width */
}
.imgContainer {
	z-index: 1;
	position: relative;
}
.text {
	width: 20vw;
	min-width: 250px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.buttonsAdmin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.btn {
	width: 120px;
}
.RSVPbtn {
	width: 250px;
}
.eventCard {
	margin: 5vh 0;
	border-radius: 10px !important ;
	padding: 0;
	max-width: 300px;
	/* border: 1px solid transparent; */
	transition: 0.5s;
}
.eventCard:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	/* border: solid grey 1px; */
	/* transition: 1s; */
}
.svg {
	/* padding-right: 5px; */
	margin-right: 5px;
}
.RSVPsvg {
	padding-right: 5px;
	margin-right: 5px;
}
.content {
	/* border: solid grey 1px; */
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	/* margin-top: -15px; */
	position: relative;
	z-index: 5;
	background-color: white;
	transform: translate(0px, -10px);
}
