.navbar{
    height: 12vh;
    background: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 5vh;
    box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.1);
    z-index: 1;
    position: sticky;
    top:0;
    position: relative;
}

.navbar_logo{
    height: 90%;
    width: 340px;
    display:grid;
    place-items: center;
    margin-top: 1vh;
}
.navbar_logo > img {
    width: 100%;
    height: auto;
}

.navbar_links{
    display: flex;
    align-items:center;
    gap: 1.4vw;
}
.navbar_link{
    text-decoration: none;
}

.navbar_link_txt{
    margin: 0;
    color: #4E4E4E;
    font-size: 14px;
    font-weight: 500;
}

.navbar_contact{
    padding: 8px 22px;
    border-radius: 100px;
    color: #ffffff;
    background: #156EFF;
    box-shadow: 0px 1px 12px 0 rgba(0,0,0,0.2);
}

.navbar_contact:hover{   
    background: #3b84fa;
}

.navbar_Drawer{
    height: 40px;
    width: 40px;
    border-radius:50%;
    position: relative;
}

.navbar_Drawer input{
    position: absolute;
    height:100%;
    width:100%;
    margin:0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}


.navbar_drawer_icon{
    position: absolute;
    height:100%;
    width: 100%;
    overflow: hidden;
    border-radius:50%;
}

.navbar_drawer_icon p{
    border-radius:5px;
    width: 80%;
    background: #4E4E4E;
    margin:0;
    position: absolute;
    left: 4px;
    transition: all 0.4s ease-in-out;
}
.drawer_line_1{
    transform-origin: 0% 50%;
    top: 10px;
    height: 2px;
}
.drawer_line_2{
    transform-origin: 50% 50%;
    top: 18px;
    height: 2.5px;
}
.drawer_line_3{
    transform-origin: 0% 50%;
    top: 26px;
    height: 2px;
}

.navbar_Drawer input:checked ~ .navbar_drawer_icon{
    background: rgba(0,0,0,0.1);
}
.navbar_Drawer input:checked ~ .navbar_drawer_icon > .drawer_line_1 {
    transform: rotate(45deg);
    left:9px;
    top:8px;   
}
.navbar_Drawer input:checked ~ .navbar_drawer_icon > .drawer_line_2 {
    transform: scale(0);   
}
.navbar_Drawer input:checked ~ .navbar_drawer_icon > .drawer_line_3 {
    transform: rotate(-45deg);   
    left:9px;
    top:30px;
}

.navbar_drawer_links{
    position:absolute;
    background: #ffffff;
    width: 100%;
    left:0;
    top:11.9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding:26px 0;
    box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.1);
    transition: all 0.4 ease-in-out;
}

.navbar_drawer_links .navbar_link_txt{
    font-size: 16px;
}