.Navbar {
    height: 11vh;
    min-height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0 5vh;
}

.navbar_logo {
    height: 90%;
    width: 20vw;
    display: grid;
    place-items: center;
    margin: 1vh 0 0 0;
}
.navbar_logo > img {
    width: 90%;
    height: auto;
}

.navbar_links {
    display: flex;
    align-items: center;
    gap: 1.4vw;
    margin-top:0;
    height:100%;
}
.navbar_link {
    text-decoration: none;
}

.navbar_link_txt {
    margin: 0;
    color: #4e4e4e;
    font-size: 1vw;
	font-family: 'Open Sans','Poppins',sans-serif;
    font-weight: 600;
}
.navbar_link:hover{
    cursor: pointer;
    text-decoration: none;
}
.navbar_link:hover .navbar_link_txt {
    color: #156eff;
    text-shadow: 0px 1px 1px rgba(21, 110, 255, 0.15);
    /* font-weight: bold; */
    transition: 0.75s;
}
.active_nav_link .navbar_link_txt{
    color: #156eff;
    text-shadow: 0px 1px 1px rgba(21, 110, 255, 0.15);
}

.navbar_contact {
    padding: 0.6vw 1.6vw;
    border-radius: 100vh;
    color: #ffffff;
    transition: 0.75s;
    background: #156EFF;
}

.navbar_contact:hover {
    background: #3f88ff;
    color: #fff !important;
    box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.3);
}
.active_contact_link>p{
    background: #3f88ff;
    color: #fff !important;
    box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.3);
}

.navbar_Drawer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
}

.navbar_Drawer input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.navbar_drawer_icon {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.navbar_drawer_icon p {
    border-radius: 5px;
    width: 80%;
    background: #4e4e4e;
    margin: 0;
    position: absolute;
    left: 4px;
    transition: all 0.4s ease-in-out;
}
.drawer_line_1 {
    transform-origin: 0% 50%;
    top: 11px;
    height: 2px;
}
.drawer_line_2 {
    transform-origin: 50% 50%;
    top: 18px;
    height: 2px;
}
.drawer_line_3 {
    transform-origin: 0% 50%;
    top: 26px;
    height: 2px;
}

.navbar_Drawer .nav-checked ~ .navbar_drawer_icon {
    background: rgba(0, 0, 0, 0.1);
}
.navbar_Drawer .nav-checked ~ .navbar_drawer_icon > .drawer_line_1 {
    transform: rotate(45deg);
    left: 9px;
    top: 8px;
}
.navbar_Drawer .nav-checked ~ .navbar_drawer_icon > .drawer_line_2 {
    transform: scale(0);
}
.navbar_Drawer .nav-checked ~ .navbar_drawer_icon > .drawer_line_3 {
    transform: rotate(-45deg);
    left: 9px;
    top: 30px;
}

.navbar_drawer_links {
    position: absolute;
    background: #ffffff;
    width: 100%;
    left: 0;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 6vh 0 10vh 0;
    box-shadow: 0px 8px 8px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4 ease-in-out;
}

.navbar_drawer_links .navbar_link_txt {
    font-size: 2.8vw;
}

.navbar_drawer_links .navbar_contact {
    padding: 1.8vw 4vw;
}
@media only screen and (max-width: 450px) {
    
    .navbar_logo > img {
        height: auto;
        width: 50vw;
    }
    .navbar_drawer_links .navbar_link_txt {
        font-size: 14px;
    }
    
    .navbar_drawer_links .navbar_contact {
        padding: 3vw 4.8vw;
    }

}