.hero-section-right{
    height: 88vh;
    width: 22vw;
    z-index: -2;
}

.hero-section-left{
    height: 88vh;
    width: 24vw;
}
svg{overflow:visible}

#Frame_110{
    transform-origin:23% 0%;
    animation: rotate1 8s ease-in-out infinite;
}
#Frame_112{
    overflow:hidden;
}
#Frame_112>{
    overflow:hidden;
}

@media only screen and (max-width: 900px) {
    #Frame_110{
        transform-origin:55% 0%;
    }
}
@keyframes anim1 {
    0%{transform: translateY(0);}
    50%{transform: TranslateY(10%);} 
    100%{transform: TranslateY(0);} 
 }

 @keyframes rotate1 {
    0%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(-275deg);} 
    100%{transform: rotateZ(0deg);} 
 }