.footer {
	width: 100%;
	background-color: #292c2f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5vh 0;
	margin-top: 5vh;
}

.footer_top {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.footer_top .DSC_logo {
	height: 15vh;
	width: 30vw;
}
.footer_top .DSC_logo img {
	width: 100%;
	height: auto;
}
.footer_contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 44vw;
}
.contact_sec_1 {
	margin-right: 8vh;
}
.contact_sec_1 > a {
	display: flex;
	gap: 2vh;
	align-items: center;
	margin-bottom: 2vh;	
	text-decoration: none;
	color: #ffffff;
	width:max-content;
}
.contact_sec_1 > a:hover{
	text-decoration: none;
}
.contact_sec_1 > a > div {
	display: grid;
	place-items: center;
	height: 7vh;
	width: 7vh;
	border-radius: 50%;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
}
.contact_sec_1 > a:hover > div {
	background: rgba(255, 255, 255, 0.15);
}
.contact_sec_1 > a > div > img {
	height: 4vh;
	width: 4vh;
}
.contact_sec_1 > a > p {
	margin: 0;
	font-size: 2.6vh;
	line-height: 100%;
	color: #ffffff;
	font-family: "Open Sans";
}
.contact_sec_1 > a > p > a {
	margin: 0;
	text-decoration: none;
	color: #ffffff;
}
.contact_sec_1 > div > p > span {
	text-decoration: none;
	font-size: 2vh;
	line-height: 150%;
	color: rgba(255, 255, 255, 0.8);
}

.contact_sec_2 > p {
	margin: 0;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 3vh;
	font-weight: 600;
	margin-bottom: 2vh;
}
.contact_sec_2 > .contact_links {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.8vh;
}

.contact_links > div {
	height: 6.4vh;
	width: 6.4vh;
	display: grid;
	place-items: center;
	border-radius: 50%;
	overflow: hidden;
	transition: all 0.25s ease-in-out;
}
.contact_icon:hover {
	background: rgba(255, 255, 255, 0.15);
}
.contact_links > div > a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0%;
	/* height: 100%;
	width: 100%; */
	padding: 20%;
}

.contact_links > div > a > img {
	height: auto;
	width: 4vh;
}

.footer_divider {
	width: 90%;
	background: #ffffff;
	opacity: 0.5;
	height: 0.1vh;
	margin: 4vh 0;
}
.footer_bot {
	display: flex;
	width: 90%;
	align-items: flex-end;
}
.Copyright_line {
	width: 95%;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 2.4vh;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: flex-end;
}

.button_login_design:hover .button_login_design_txt {
	color: #156eff;
	text-shadow: 0px 1px 1px rgba(21, 110, 255, 0.15);

	/* font-weight: bold; */
	transition: 0.5s;
	font-family: "Open Sans";

	font-weight: 600;
	text-align: right;
	margin: 0;
}
.footer_LogIn {
	flex: 1;
}
.footer_LogIn .Login_Cont {
	margin: 0 0 0 auto;
	display: flex;
	background: rgba(255, 255, 255, 0.25);
	width: max-content;
	border-radius: 100vh;
}
.Login_Cont:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.4);
}
.LogIn_icon_cont {
	height: 5.4vh;
	width: 5.4vh;
	background: rgba(255, 255, 255, 0.3);
	display: grid;
	place-items: center;
	border-radius: 50%;
}
.LogIn_icon_cont > img {
	height: 3vh;
	width: 3vh;
}
.logIn_status {
	background: none;
	outline: none;
	border: none;
	color: #ffffff;
	padding: 0 4vh 0 2vh;
	font-size: 2.4vh;
	font-weight: 600;
}

@media only screen and (max-width: 900px) {
	.footer {
		margin-top: 2vh;
	}
	.footer_top {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	.footer_top .DSC_logo {
		height: auto;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 6vh;
	}
	.footer_contact {
		width: 100%;
		justify-content: center;
	}
}

@media only screen and (max-width: 450px) {
	.footer_top .DSC_logo {
		width: 100%;
	}
	.footer_contact {
		gap: 2vh;
	}
	.Copyright_line {
		justify-content: start;
		font-size: 12px;
	}
	.footer_bot {
		align-items: center;
	}
	.contact_sec_1 > div > a {
		height: 48px;
		width: 48px;
	}
	.contact_sec_1 > div > a > img {
		height: 36px;
		width: 36px;
	}
	.contact_sec_1 > div > p {
		font-size: 18px;
	}
	.contact_sec_1 > div > p > span {
		font-size: 12px;
	}
	.contact_sec_2 > p {
		font-size: 24px;
		text-align: center;
	}
}
