.cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    margin: 5vh 0;
    width: 450px;
}
.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.img {
    padding-right: 3%;
}
.name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.social_icons {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* HOVER EFFECT*/
.card:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 908px) {
    .cards_container {
        flex-direction: column;
    }
}
