@media only screen and (max-width: 900px) {
	.Blogs_section {
		flex-direction: column;
		align-items: center;
		gap: 5vw;
	}
}


.heading_plusBtn {
	margin-top: 4vh;
	padding-left: 9.02%;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding-right: 5vw;
}

@media only screen and (max-width: 900px) {
	.heading {
		align-self: center;
		padding-left: 0;
	}
	.heading_plusBtn {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
}
