.container {
	display: flex;
	flex-direction: row;
	/* align-items: center;
	justify-content: center; */
	/* padding-bottom: 1.5%; */
}

.img {
	padding-right: 3%;
	/* box-shadow: rgba(0, 0, 0, 0.22) 0px -5px 4px 0px; */
}
.text {
	width: 100%;
	margin: 0;
	height: 71px;
	overflow: hidden;
	/* background-color: aqua; */
}
.name {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}

.btnP:hover {
	color: #fff;
	font-size: 15px !important;
	transition: 0.25s;
}

.buttons > a {
	width: 100%;
}
.buttonsAdmin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 8px;
	align-items: flex-end;
	/* margin-bottom: 10px; */
}
.btnP {
	width: 100%;
}
.buttonsAdmin .btn,
.buttonsAdmin > a {
	width: 100%;
}
.greenBtn {
	color: #0f9d58;
	background-color: #0f9d58;
	width: 100%;
}
.card {
	/*margin:0 0 3vh 0;*/
	width: 320px;
	/* border-radius: 20px; */
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.22) 0px -5px 4px 0px;
	transition: 0.75s;
	z-index: 1;
	/* border-radius: 20px; */
	/* box-shadow: rgba(0, 0, 0, 0.22) 0px -5px 4px 0px; */
	transform: translate(0px, -1px);
	margin-bottom: -5px;
}

.mainCard {
	margin-bottom: 24px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	/* padding-bottom: -5px; */
}
.mainCard:hover {
	box-shadow: rgb(144, 202, 249, 0.7) 4px 4px 16px 4px;
	/* overflow: hidden; */
	transition: 0.75s;
}

.cardM {
	/* border: 1px solid transparent; */
	/* padding: 15px 0; */
	margin: 4vh 0;
	z-index: 5;
	width: 320px;
	margin-left: 3.5rem;
	margin-bottom: 10rem;
	margin-top: 1rem;
	border-radius: 10px;
}

.svg {
	margin-right: 10px;
}

/* HOVER */
.card:hover {
	/*box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;*/
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px -2px 4px; */
	/* border: solid grey 1px; */
	/* transition: 1s; */
}

@media only screen and (max-width: 450px) {
	.btnP {
		width: 100%;
	}
	.buttonsAdmin > .btn,
	.buttonsAdmin > .a {
		width: 100%;
	}
}
