body {
  margin: 0;
  font-family: 'Open Sans',sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 'Open Sans',sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

body::-webkit-scrollbar {
  width: 0.6vw;
}
@media only screen and (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 1.2vw;
  }
}
body::-webkit-scrollbar-track {
  background: #fcfcfc;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: #156EFF;
  transition: 0.75s;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #3f88ff;
  box-shadow: -1px 0px 12px 0 rgb(0 0 0 / 20%);
}