/* * {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, a, p, span {
  padding-bottom: 0.714em !important;
  padding-top: 0.714em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #ffffff;
  font-weight: bold;
  text-align: center; }

footer {
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  background: #E9E0D6;
  text-align: center; }
  footer .content {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80px; }
    footer .content .bottom {
      padding: 0;
      margin: 0;
      top: 10%; } */

/* footer .content .bottom .beat {
        color: red;
        animation: beat .30s infinite alternate; }
    footer .content .top {
      font-size: 25px; }
      footer .content .top .fa-twitter:hover {
        transition: 350ms ease-in-out;
        color: #55acee;
        transform: scale(1.4); }
      footer .content .top .fa-youtube:hover {
        transition: 350ms ease-in-out;
        color: #cd201f;
        transform: scale(1.4); }
      footer .content .top .fa-instagram:hover {
        transition: 350ms ease-in-out;
        color: #e4405f;
        transform: scale(1.4); }
      footer .content .top .fa-codepen:hover {
        transition: 350ms ease-in-out;
        color: #FFDD40;
        transform: scale(1.4); }
      footer .content .top a {
        padding: 10px; }
      footer .content .top i {
        transition: 500ms ease-in-out; } */

/* 
.noselect {
  user-select: none; } */

/* OLD LOADER */
/* .artboard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute; }
  
  .domino > div {
    border-radius: 8px;
    display: inline-flex;
    transform: rotate(45deg);
    width: 50px;
    height: 50px;
    animation: domino-effect 2.4s infinite ease-in-out; }
    .domino > div:nth-child(1) {
      background: #4285f4; }
      .domino > div:nth-child(1):after {
        background: #4285f4;
        animation-delay: 0.6s; }
    .domino > div:nth-child(2) {
      background: #db4437; }
      .domino > div:nth-child(2):after {
        background: #db4437;
        animation-delay: 1.2s; }
    .domino > div:nth-child(3) {
      background: #f4b400; }
      .domino > div:nth-child(3):after {
        background: #f4b400;
        animation-delay: 1.8s; }
    .domino > div:nth-child(4) {
      background: #0f9d58; }
      .domino > div:nth-child(4):after {
        background: #0f9d58;
        animation-delay: 2.4s; }
    .domino > div:nth-child(5) {
      background: #eb7260; }
      .domino > div:nth-child(5):after {
        background: #eb7260;
        animation-delay: 3s; }
    .domino > div:nth-child(1) {
      margin: 23px;
      animation-delay: 0.6s; }
    .domino > div:nth-child(2) {
      margin: 23px;
      animation-delay: 1.2s; }
    .domino > div:nth-child(3) {
      margin: 23px;
      animation-delay: 1.8s; }
    .domino > div:nth-child(4) {
      margin: 23px;
      animation-delay: 2.4s; }
    .domino > div:nth-child(5) {
      margin: 23px;
      animation-delay: 3s; }
    .domino > div:after {
      content: '';
      position: relative;
      top: 0px;
      left: -70px;
      opacity: 0;
      border-radius: 8px;
      width: 50px;
      height: 50px;
      animation: illusion 2.4s infinite ease-in-out; }
  
  @keyframes beat {
    to {
      transform: scale(1.4); } }
  
  @keyframes spin {
    to {
      transform: rotate(140deg); } }
  
  @keyframes domino-effect {
    20%, 100% {
      transform: rotate(135deg); } }
  
  @keyframes illusion {
    0%, 25% {
      opacity: 1; }
    26.10%, 33.33%, 100% {
      opacity: 0; } }
   */

.newLoader {
  padding-top: 13rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loaderimg{
  height: 200px;
  width:200px;
  align-items: center;
}
