.img {
	padding-right: 3%;
}
.text {
	width: 20vw;
	min-width: 250px;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 5px;
}
.buttons-admin {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card {
	margin: 5vh 0;
	border-radius: 10px !important ;
	padding: 0;
}
.card:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
