.container {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	/* align-items: center;
	justify-content: center; */
	/* padding-bottom: 1.5%; */
}

.img {
	padding-right: 3%;
	padding-bottom: 3%;
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}
.text {
	width: calc(100%-20px);
	margin: 0 10px;
	text-align: justify;
}
.name {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
}
.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 16px;
}
.buttonsAdmin {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 16px;
	margin-bottom: 10px;
}
.buttons > a,
.buttonsAdmin > a {
	width: 100%;
}
.btn {
	width: 100%;
	font-size: 12px;
	line-height: 18px;
}

.btn:hover {
	color: #fff;
	font-size: 14px !important;
	transition: 0.25s;
}

.greenBtn {
	color: #08ad5d;
	background-color: #08ad5d;
	width: 100%;
}
.card {
	/* border: 1px solid transparent; */
	/* padding: 15px 0; */
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
	margin: 5vh 0;
	width: 450px;
	transition: 0.75s;
}

.svg {
	height: 20px;
	width: 20px;
	margin-right: 10px;
}

/* HOVER */
.card:hover {
	border-radius: 20px;
	/* box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px; */
	/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
	/* border: solid grey 1px; */
	/* transition: 1s; */
	box-shadow: rgb(129, 199, 132, 0.7) 4px 4px 16px 4px;
	overflow: hidden;
	transition: 0.75s;
}

@media only screen and (max-width: 450px) {
	.svg {
		height: 16px;
		width: 16px;
		margin-right: 8px;
	}
	.buttons {
		gap: 8px;
	}
	.buttonsAdmin {
		gap: 8px;
	}
	.btn {
		font-size: 10px;
	}
	.btn:hover {
		color: #fff;
		font-size: 12px !important;
		transition: 0.25s;
	}
}
@media only screen and (max-width: 340px) {
	.btn {
		font-size: 8px;
	}
	.btn:hover {
		color: #fff;
		font-size: 10px !important;
		transition: 0.25s;
	}
}
