.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* padding-bottom: 1.5%; */
}

.img {
	/* padding-right: 3%; */
}
.text {
	max-width: 350px;
	margin: 0;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.buttons-admin {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
}
.card {
	/* padding: 5vh 0; */
	margin: 5vh 0;
}

.svg {
	padding-right: 5px;
}
