.carousel_container{
	display: flex;
	flex: wrap;
	margin-bottom: 5vw;
	/* display: none; */
}
.carousel_info{
	
	padding:4vw;
	width:calc(100vw-90vh);
	height: 90vh;
	background: linear-gradient(to right, #ffd54f, #fff);	
	/* background-color: #f9f9fa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fbbc04' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
	/* background-image: url("../../Assets/events-bg.png");
	opacity: 0.1 !important; */
}

.carousel_info>h2, .carousel_info>p{
	font-family: 'Poppins';
}

.carousel_info>h2{
	font-size: 3.5rem !important;
}

.carousel_info>p{
	font-size: 1.4rem;
}
.carousel_the_real_deal{
	width: 90vh;
	/* height: 50vw; */
}
@media (max-width: 900px) { 
	.carousel_container{
	flex-direction: column;
	}
	.carousel_the_real_deal{
		width: 100vw;
	}
	.carousel_info{
		width: 100vw;
		height: auto;

	}
}
@media (min-width: 1400px) {
	.carousel_info{
		width: 60vw;
	} 
	.carousel_the_real_deal{
		width: 40vw;
	}
}
@media (min-width: 1500px) {
	.carousel_info{
		width: 65vw;
	} 
	.carousel_the_real_deal{
		width: 35vw;
	}
}