/* .heading {
	padding-left: 9.02%;
}

@media only screen and (max-width: 900px) {
	.heading {
		align-self: center;
		padding-left: 0;
	}
} */

.heading {
	padding-left: 9.02%;
}
.heading_upcoming {
	padding-left: 9.5%;
}

.heading_plusBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 5vw;
}

@media only screen and (max-width: 900px) {
	.heading {
		align-self: center;
		padding-left: 0;
	}
	.heading_plusBtn {
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 900px) {
	.heading_upcoming{
		text-align: center;
		padding-left: 10px;
	}
}
