.About {
	display: flex;
	flex-direction: row-reverse;
	gap: 6.11vw;
	justify-content: center;
	width: 100%;
	margin-bottom: 10vh;
}
.About:nth-of-type(2) {
	margin-bottom: 15vh;
}
.About p {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}
.About > img {
	height: 20.83vw;
	width: 37.99vw;
	background-repeat: no-repeat;
	background-size: fit;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.About > div {
	height: 20.83vw;
	width: 37.99vw;
	display: flex;
	flex-direction: column;
	gap: 2.6vw;
}

.About > div > .Abt_Heading {
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 1.53vw;
	color: #1b2733;
	font-family: "Open Sans";
}
.About > div > .Abt_Content {
	font-weight: normal;
	font-size: 1.11vw;
	line-height: 1.53vw;
	color: #637282;
	font-family: "Open Sans";
}
.About > div > button {
	width: max-content;
	background: #08ad5d;
	font-weight: 500;
	font-size: 1vw;
	line-height: 90%;
	letter-spacing: 0.02em;
	color: #ffffff;
	outline: none;
	border: none;
	border-radius: 0.6vh;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vh;
	margin-top: auto;
	padding: 0;
	font-family: "Open Sans";
}
.About > div > button > a {
	display: flex;
	background: #08ad5d;
	gap: 1vh;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 1vw;
	padding: 1vw 1.8vw;
	border-radius: 0.6vh;
	transition: 0.75s;
	font-family: "Open Sans";
}
.About > div > button > a:hover {
	background: #06d471;
	box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.4);
}
.About > div > button > a > img {
	height: 0.9vw;
	width: 1.1vw;
}
.About_DSC>img{
	object-fit: contain;
}
.About_DSC_IIITA {
	flex-direction: row;
}
@media only screen and (max-width: 900px) {
	.About_DSC_IIITA{
		margin-top: -8vh;
	}
	.What_we_do{
		margin-top: -8vh;
	}
}

@media only screen and (max-width: 450px) {
	.About_DSC_IIITA{
		margin-top: -12vh;
	}
	.What_we_do{
		margin-top: -12vh;
	}
}

.Abt_btn_txt {
	text-decoration: none;
	color: #ffffff;
	padding: 1.2vw;
	font-family: "Open Sans";
}
.What_we_do {
	width: 100%;
	padding: 0 8.2vw;
	display: flex;
	gap: 4.5vw;
	flex-direction: column;
	align-items: center;
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.What_we_do .What_we_do_heading {
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 1.53vw;
	color: #1b2733;
	font-family: "Open Sans";
}
.What_we_do .What_we_do_cards {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 8vw;
	row-gap: 8vh;
}
.What_we_do .What_we_do_cards > div {
	display: flex;
	height: 20vh;
	width: 34vw;
	justify-content: space-between;
	gap: 2vw;
}
.What_we_do_card_img {
	display: grid;
	place-items: center;
	height: 20vh;
	width: 20vh;
	border-radius: 50%;
	flex: none;
}
.What_we_do_card_img > img {
	height: 10vh;
	width: 10vh;
}
.What_we_do_card_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 23vw;
	font-family: "Open Sans";
}
.What_we_do_card_text > .What_we_do_card_head {
	font-weight: 500;
	font-size: 1.52vw;
	line-height: 120%;
	color: #1d2935;
	font-family: "Open Sans";
}
.What_we_do_card_text > .What_we_do_card_desc {
	font-weight: normal;
	font-size: 1.11vw;
	line-height: 1.53vw;
	color: #637282;
	font-family: "Open Sans";
}

.What_we_do_card1 > .What_we_do_card_img {
	background: #fae4dc;
}
.What_we_do_card2 > .What_we_do_card_img {
	background: #dbe5f4;
}
.What_we_do_card3 > .What_we_do_card_img {
	background: #dbf4e5;
}
.What_we_do_card4 > .What_we_do_card_img {
	background: #fef9dc;
}

.Join_the_convo {
	width: 100%;
	padding: 0 9.02%;
	display: flex;
	gap: 3vw;
	flex-direction: column;
	padding-top: 3vw;
}
.Join_the_convo .Join_the_convo_heading {
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 1.53vw;
	color: #1b2733;
	font-family: "Open Sans";
}
.Join_the_convo .Join_the_convo_cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.Join_the_convo_cards > div {
	width: 45%;
}
.Join_the_convo_cards > div > p {
	font-weight: 500;
	font-size: 1.2vw;
	line-height: 1.53vw;
	color: #637282;
	padding-bottom: 0.6vh;
	font-family: "Open Sans";
}
.Join_the_convo_cards > div > div {
	height: max-content;
	width: max-content;
	transition: 0.75s;
	display: grid;
	place-items: center;
	outline: none;
	border: none;
	border-radius: 0.6vh;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.Join_the_convo_cards > div > div:hover {
	box-shadow: 0px 1px 12px 0 rgba(0, 0, 0, 0.4);
}
.Join_the_convo_cards > div > div > a {
	margin: 0;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	padding: 12px 22px;
	letter-spacing: 0.02em;
	z-index: 1;
	font-family: "Open Sans";
}
.Join_the_convo_cards > div > div > img {
	height: 100%;
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
}
.Join_youtube a {
	padding: 0ch;
}

@media only screen and (max-width: 900px) {
	.About {
		flex-direction: column;
		align-items: center;
		gap: 5vw;
		height: min-content;
	}
	.About_section {
		align-items: center;
	}
	.About > img {
		width: 79%;
		height: auto;
	}
	.About > div {
		height: min-content;
		width: 79%;
		gap: 3vw;
	}
	.What_we_do_cards > div {
		gap: 10vh;
	}
	.Join_the_convo {
		align-items: center;
	}
	.About > div > .Abt_Heading,
	.What_we_do .What_we_do_heading,
	.Join_the_convo .Join_the_convo_heading {
		font-size: 4.4vw;
		line-height: 100%;
	}
	.About > div > .Abt_Content {
		font-size: 1.99vw;
		line-height: 150%;
		text-align: justify;
	}
	.What_we_do_card_text > .What_we_do_card_desc {
		font-size: 1.99vw;
		line-height: 140%;
	}
	.What_we_do_card_text > .What_we_do_card_head {
		font-size: 2.99vw;
		line-height: 100%;
	}
	.About > div > button {
		font-size: 2vw;
		line-height: 150%;
	}
	.About > div > button > a {
		font-size: 2vw;
		padding: 2vw 3vw;
	}
	.About > div > button > a > img {
		height: 2.4vw;
		width: 2.4vw;
	}
	.What_we_do {
		padding: 8vh 10.02vw;
	}
	.What_we_do .What_we_do_cards {
		gap: 8vw;
	}
	.What_we_do .What_we_do_cards > div {
		justify-content: space-between;
		width: 100%;
	}
	.What_we_do_card2,
	.What_we_do_card4 {
		flex-direction: row-reverse;
	}
	.What_we_do_card_text {
		width: 40vw;
	}
	.Join_the_convo_cards > div {
		width: 100%;
	}
	.Join_the_convo_cards > div > p {
		font-size: 2.2vw;
		line-height: 150%;
		padding-bottom: 0;
	}
	.Join_the_convo .Join_the_convo_cards {
		gap: 2vw;
	}
	.Join_the_convo_cards > div > div > a {
		font-size: 11px;
		padding: 10px 16px;
	}
}
@media only screen and (max-width: 450px) {
	.About {
		gap: 3vh;
		padding-bottom: 8vh;
	}
	.About > div > .Abt_Heading,
	.What_we_do .What_we_do_heading,
	.Join_the_convo .Join_the_convo_heading {
		font-size: 5.4vw;
	}
	.About > div > .Abt_Content {
		font-size: 2.8vw;
		line-height: 130%;
	}
	.What_we_do_card_text > .What_we_do_card_desc {
		font-size: 2.8vw;
	}
	.What_we_do_card_text > .What_we_do_card_head {
		font-size: 4.8vw;
	}
	.About > div > button {
		font-size: 3.6vw;
		line-height: 150%;
	}
	.About > div > button > a {
		font-size: 3vw;
		padding: 3vw 4.8vw;
	}
	.About > div > button > a > img {
		height: 4vw;
		width: 4vw;
	}
	.What_we_do {
		padding: 6vh 10.02vw;
		gap: 5vh;
	}
	.What_we_do .What_we_do_cards {
		gap: 6vh;
	}
	.What_we_do .What_we_do_cards > div {
		height: 14vh;
		justify-content: space-between;
		width: 100%;
	}
	.What_we_do_card_img > img {
		height: 7vh;
		width: 7vh;
	}
	.What_we_do_card_img {
		height: 14vh;
		width: 14vh;
	}
	.Join_the_convo_cards > div > p {
		font-size: 3vw;
		line-height: 130%;
	}
	.Join_the_convo .Join_the_convo_cards {
		gap: 4vh;
	}
	.Join_the_convo_cards > div > div > a {
		font-size: 3vw;
		padding: 2vw 4vw;
	}
}
